<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/clndr.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cal3">
                    <script type="text/template" id="template-calendar-months">
                        <div class="clndr-controls top">
                            <div class="clndr-previous-button">&lsaquo;</div>
                            <div class="clndr-next-button">&rsaquo;</div>
                        </div>
                        <div class="clearfix">
                            <% _.each(months, function(cal) { %>
                                <div class="cal">
                                    <div class="clndr-controls">
                                        <div class="month">
                                            <%= cal.month.format('MMMM') %>
                                        </div>
                                    </div>
                                    <div class="clndr-grid">
                                        <div class="days-of-the-week">
                                            <% _.each(daysOfTheWeek, function(day) { %>
                                                <div class="header-day">
                                                    <%= day %>
                                                </div>
                                                <% }); %>
                                                    <div class="days">
                                                        <% _.each(cal.days, function(day) { %>
                                                            <div class="<%= day.classes %>">
                                                                <%= day.day %>
                                                            </div>
                                                            <% }); %>
                                                    </div>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                        <div class="clndr-today-button">Hoy</div>
                    </script>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <!--script src="../src/clndr.js"></script-->
    <!--script src="../clndr/CLNDR/src/clndr.js"></script-->
    <script src="../clndr/clndr.js"></script>
    <script src="demo.js"></script>

</body>

</html>